# Ignore image files
*.jpg
*.jpeg
*.png
*.gif
images/

# Ignore video files
*.mp4
*.avi
*.mov
videos/

# Ignore model files
*.h5
*.pkl
*.pt
*.pth
*.dat
models/

# Ignore Python cache files
__pycache__/
*.pyc
